/*----------
   RESET
----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------
  THIPOGRAPHY
----------*/
body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {font-size: 40px;}

  h2 ,{font-size:35px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal}
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;}
    h5 {
        font-size: 30px;
        text-align: center;
        font-family: "Roboto", serif;
    }
    h6 {
    font-size: 25px;
    text-align: center;
    font-family: "Roboto", serif;
    right: 90px;
    position: relative;
    bottom: 25px;}


  .font {
    font-size: 18px;
  }
  .font-1{
    font-size: 16px;
  }
  .white{
    color: white;
  }
  .black {
    color:black
  }
  .information{
    color: #7289DA; 
    font-family: "Roboto", serif;
    font-weight: bold;
    font-style: normal; 
  }
  .information-2{
    color: #7289DA; 
    font-family: "Roboto", serif;
    font-weight: bold;
    font-style: normal; 
    position: relative;
    bottom: 15px;
  }
  .space{justify-content: space-between;
    display:flex;
  }
  .text-1{flex-direction: column ;
    margin: 0;}
/*--------
     DEBUG
 --------*/
/*
.debug .header-top {background-color: #add8e6;} 
.debug .header-bottom { background-color: #00008b;}
.debug .header-top > .container {background-color: #daa520;}
.debug .rectangle-pink {background-color: pink;border: black dashed;}
.debug .rectangle-lightblue{background-color: lightblue;border: black dashed;}
.debug .rectangle-grey {background-color: grey; border: white dashed;}
.debug .rectangle-red { background-color: pink; border: black dashed;}
.debug  .square {background-color:#228B22; border: black dashed;}
.debug .header-top > .container-2{background-color: #23272A;}
.debug .header-top .logo, .header-top nav, header-top .login{border: 1px dashed black;}
.debug .rectangle{border: black dashed;}
/*--------
   GENERAL
--------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;}
    
.container-2{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;}
    
    .img{width: 15%;
        position: relative;
        top: 0px;
        right: 5px;
    }
/*-----------
   HEADER
------------*/
.header-top{
    padding:  15px 0;
    justify-content: space-between;
    background-color: #3161E0;
}
.header-bottom {
    padding: 0px;
    text-align: center;
}
.bottom{
    padding:  15px 0;
    justify-content: space-between;
    background-color: #23272A;
}
.header-bottom .rectangle > p {
margin-top:  30px;
margin-bottom: 16px;
margin-left: 400px;
margin-right: 400px;
}
.header-top > .container {
    display:flex;
    align-items: center;
    justify-content:  space-between;
    
}
.header-top > .container-2{
    display:flex;
    align-items: center;
    justify-self:center
}
.header-top .logo,
.header-top nav,
.header-top .login {
    padding: 6px;
}
.bottom .logo,
.bottom .login {
    width 20%;
}
.bottom .login{ text-align:right ;}


.header-top .logo, .header-top .login {
    width 20%
}
.header-top .login {
    text-align: right ;
}
.header-top nav {
    width: 60%;
    padding: 8px;
    text-align: center;
}
.link {
    display: flex;
    gap: 20px;
}
.link a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    color: black;
    text-decoration: underline;
}
.link span {
    margin-right: 10px; 
    color: white;
    text-align: center;
}
.login{
    position:relative;
    right: 2px;
}
/*---------
  Button
---------*/
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.button-2 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    right: 40px;
    position: relative;
}
.button-3{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #23272A;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.button-4{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8EA1E1;
    border: none;
    border-radius: 25px%;
    cursor: pointer;
    left: 190px;
    position: relative;
    top: 25px;
}
.button-5{padding: 10px 20px;
    font-size: 10px;
    background-color: #8EA1E1;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    left: -30px;
    position: relative;
    top: -35px;
}
/*---------
   Figure
---------*/
.rectangle-container {
    display: flex;
    justify-content: center; /
    gap: 0px; }

    .rectangle  {
            height:600px; 
            width: 100%; 
            background-image: url(../Img/jumbo.png); 
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;  
    
}
.rectangle-pink {
    height: 300px;
    width: 600px; 
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 80px;
    
    
}

.rectangle-lightblue {
    padding: 10px;
    height: 400px; 
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.rectangle-grey {
    height: 400px;
    width: 100px; 
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rectangle-red {
    padding: 25px;
    height: 400px;
    width: 200px; 
    margin-top: 50px;
    margin-bottom: 50px;}
    
    .square {
    padding: 25px;
    min-height:1000px;
    width:800px;
    margin-left: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
  /*--------
    BACKGROUD
 ----------*/
}
.background{
    background-color: #F6F6F6
}

.background-2 {
    background-color: #23272A;
}

    