/*----------
   RESET
----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------
  THIPOGRAPHY
----------*/
.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  .white{
    color: white;
  }
  
/*--------
     DEBUG
 --------*/
/*
.debug .header-top {background-color: #add8e6;} 
.debug .header-bottom { background-color: #00008b;}
.debug .header-top > .container {background-color: #daa520;}
.debug .rectangle-pink {background-color: pink;}
.debug .rectangle-lightblue{background-color: lightblue;}
.debug .rectangle-grey {background-color: grey;}
.debug .rectangle-red { background-color: pink;}
.debug  .square {background-color:#228B22;}
.debug .header-top > .container-2{background-color: #23272A;}
.debug .header-top .logo, .header-top nav, header-top .login{border: 1px dashed black;}
/*--------
   GENERAL
--------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;}
    
.container-2{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;}
/*-----------
   HEADER
------------*/
.header-top{
    padding:  15px 0;
    justify-content: space-between;
    background-color: #3161E0;
}
.header-bottom {
    padding: 200px;
}
.header-top > .container {
    display:flex;
    align-items: center;
    justify-content:  space-between;
    
}
.header-top > .container-2{
    display:flex;
    align-items: center;
    justify-self:center
}
.header-top .logo,
.header-top nav,
.header-top .login {
    padding: 6px;
    
}
.header-top .logo, .header-top .login {
    width 20%
}
.header-top .login {
    text-align: right ;
}
.header-top nav {
    width: 60%;
    padding: 8px;
    text-align: center;
}
.link {
    display: flex;
    gap: 20px;
}
.link a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    color: black;
    text-decoration: underline;
}
.link span {
    margin-right: 10px; 
    color: white;
    text-align: center;
}
.login{
    position:relative;
    right: 2px;
}
/*---------
  Button
---------*/
/*---------
   Figure
---------*/
.rectangle-container {
    display: flex;
    justify-content: center; /
    gap: 0px; }

.rectangle {
    padding: 100px;
    background-color: white;
    height: 200px;
    width: 1200px;
    border: black dashed;
    
}
.rectangle-pink {
    padding: 100px;
    height: 400px;
    width: 600px; 
    border: black dashed;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rectangle-lightblue {
    padding: 100px;
    height: 400px; 
    width: 300px;
    border: black dashed;
    margin-top: 50px;
    margin-bottom: 50px;
}
.rectangle-grey {
    height: 400px;
    width: 100px; 
    border: white dashed;
    margin-top: 50px;
    margin-bottom: 50px;
}
.rectangle-red {
    padding: 100px;
    height: 400px;
    width: 200px; 
    border: black dashed;
    margin-top: 50px;
    margin-bottom: 50px;}
    
    .square {
    padding:100px;
    height:650px;
    width:650px;
    border: black dashed;
    margin-left: 400px;
    margin-top: 50px;
  /*--------
    BACKGROUD
 ----------*/
}
.background{
    background-color: #D3D3D3;
}

.background-2 {
    background-color: #23272A;
}

    